ProjectTracker/ProjectTracker/www/lib/angular/
ProjectTracker/ProjectTracker/www/lib/angular-animate/
ProjectTracker/ProjectTracker/www/lib/angular-google-maps/
ProjectTracker/ProjectTracker/www/lib/angular-sanitize/
ProjectTracker/ProjectTracker/www/lib/angular-ui-router/
ProjectTracker/ProjectTracker/www/lib/ionic/
ProjectTracker/ProjectTracker/www/lib/lodash/
ProjectTracker/ProjectTracker/www/lib/ngCordova/
*.suo
ProjectTracker/ProjectTracker/www/lib/angular/
